In [1]:
import pandas as pd
import sys
sys.path.append('../..')
from ml_scripts import clean, impute, scale

In [2]:
validation = pd.read_csv('../../data/historical/historico/2025.csv', parse_dates=['fecha'])

In [3]:
validation = clean.clean_df(validation)
validation = impute.impute_df(validation)

/home/human/Desktop/PFB/Proyecto-Meteorologico/notebooks/Model Pre-processing/../../ml_scripts/impute.py:42: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_imputed = df_imputed.interpolate(method='linear', axis=0)

In [4]:
validation.set_index('fecha', inplace=True)

In [5]:
validation.head(3)

,tmed,prec,tmin,tmax,hr_media,velmedia,racha,year,fecha_sin,fecha_cos,dir_sin,dir_cos,latitud,longitud,altitud
fecha,,,,,,,,,,,,,,,
2025-01-01,8.5,0.0,5.0,12.0,36.0,1.1,3.9,0.75,0.0172,0.9999,0.2511,0.9679,43.2500,-4.6667,940
2025-01-01,9.8,0.0,6.0,13.5,72.0,0.8,5.8,0.75,0.0172,0.9999,0.4862,0.8738,36.6167,-5.2000,676
2025-01-01,-0.2,0.0,-2.7,2.4,91.0,4.7,12.2,0.75,0.0172,0.9999,0.8146,0.5801,40.7833,-4.0000,1893

In [6]:
validation_scaled = scale.scale_df(validation)

In [7]:
validation_scaled.head(3)

,tmed,prec,tmin,tmax,hr_media,velmedia,racha,fecha_sin,fecha_cos,dir_sin,dir_cos,latitud,longitud,altitud,year
fecha,,,,,,,,,,,,,,,
2025-01-01,0.1043,0.0125,0.2358,0.4238,0.3535,0.2222,0.0566,0.5086,1.0,0.6255,0.9840,0.9669,0.5993,0.3289,0.75
2025-01-01,0.1098,0.0125,0.2439,0.4487,0.7172,0.2156,0.0842,0.5086,1.0,0.7431,0.9369,0.5558,0.5755,0.2364,0.75
2025-01-01,0.0674,0.0125,0.1732,0.2649,0.9091,0.3022,0.1771,0.5086,1.0,0.9073,0.7900,0.8140,0.6290,0.6627,0.75

In [8]:
validation.to_csv('../../data/ml/validation.csv', index=True)

In [9]:
validation_scaled.to_csv('../../data/ml/validation_scaled.csv', index=True)